.table {
    width: 100%;
    border: none;
    /*margin-bottom: 20px;*/
    border-collapse: collapse;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 5px 10px;
    background: #d8d8d8;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.table tbody td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 14px;
    vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
    border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
    border-right: none;
}
.table tbody tr:nth-child(even){
    background: #f3f3f3;
}

.table tbody tr:hover {
    background: #d3ecff;
}
.table tbody tr:hover td {
    background: #d3ecff;
    border-left: 1px solid #c3def1;
    border-right: 1px solid #c3def1;
}
.table thead tr:hover th:first-child, .table tbody tr td:first-child {
    border-left: none;
}
.table thead tr:hover th:last-child, .table tbody tr td:last-child {
    border-right: none;
}